<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="flex-grow-1">
        <a aria-label="Home" class="logo" routerLink="/">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="logo-icon">
            <g>
              <circle fill="#909090" cx="10" cy="10" r="10"></circle>
              <path fill="#FFF"
                d="">
              </path>
            </g>
          </svg>
          <span class="discussionWebsite-text">Discussion Website</span>
        </a>
      </div>
      <div>
        <a routerLink="/signup" class="signup mx-4">Sign up</a>
        <a routerLink="/login" class="login mx-4">Login</a>
      </div>
    </nav>
  </header>