.btnCreatePost,
.btnCreateSubreddit 
{
  margin-top: 5px;
}

.post-form 
{
  margin: 2px;
}

.comment-notification 
{
  margin-top: 5px;
}

.create-post-container
{
  margin-top: 10px;
  --post-line-color: #202020;
  border: 1px solid #202020;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #404040;
  color: #FFF;
  position: relative;
  border-radius: 4px;
  padding: 5px;
}

.btnDiscard 
{
    border: 1px solid #202020;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 34px;
    margin-top: 5px;
    color: #FFF;
    background-color: #0079D3;
  }

.create-post-heading 
{
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #FFF;
  -ms-flex: 1;
  flex: 1;
}

.btnCreatePost 
{
    background-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid #202020;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 34px;
    margin-left: 20px;
  }

  .btnCreatePost:hover,
  .btnDiscard:hover
  {
    opacity: 0.7;
  }