.sidebar-view-subpost
{
    width: 312px;
    height: 242px;
    --post-line-color: #ccc;
    border: 1px solid #202020;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #404040;
    color: #FFF;
    position: relative;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .sidebar-view-subpost 
  {
    height: 280px;
  }