.sidebar
{
    width: 312px;
    height: 242px;
    --post-line-color: #ccc;    
    border: 1px solid #202020;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #404040;
    color: #FFF;
    position: relative;
    border-radius: 4px;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btnCreatePost, .btnCreateSubpost
{
    background-color: #0079D3;
    border-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: none;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;    
    opacity: 1;
    width: 288px;
    height: 34px;
}

.btnCreatePost
{
    margin-top: 20px;
}

.btnCreateSubpost
{
    margin-top: 30px;
}

.sidebar>ul>li
{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1c1c1c;
}

.btnCreatePost:hover, .btnCreateSubpost:hover
{
    opacity: 0.7;
}