html
{
    padding: 0;
    height: 100%;
}

body 
{
    height: 100%;
    display: block;
    background-color:  #303030;
    margin-top: 63px;
}

input.ng-invalid.ng-touched
{
    border: 2px solid red;
}

.login,
.sign-up 
{
    background-color: #0079D3;
    border: none;
    color: #FFF;
    border-radius: 4px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 5px 20px;
    opacity: 1;
    margin-top: 20px;
    justify-items: right;
}

.login
{
    margin-left: 30px;
}